.circle {
    padding: 5%;
    text-align: center;
    border-radius: 500%;
    width: 150px;
    height: 150px;
    line-height: 150px;
    font-family: 'HankenGrotesk-Bold';
    color: hsl(241, 100%, 89%);
}

#gradient-circle {
  background-image: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
}

.num-design {
  color: white;
  font-family: 'HankenGrotesk-ExtraBold';
}

.round-circle {

  /* border: 2px solid;
  padding: 20px; 
  width: 400px; */
  /* resize: both; */
  /* overflow: auto; */
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.element {
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.button {
  background-color: hsl(224, 30%, 27%);
  color: #e7ecef;
  border-radius: 30px;
  width: 25em;
  height: 4em;
  line-height: 0em;
}

.continue {
  font-family: 'HankenGrotesk-Medium';
  font-size: 20px;
}

.button:hover {
  background-color: rgb(67, 73, 113);
  color: #e7ecef;
  border-radius: 30px;
}

.visual {
  padding: 5%;
  text-align: center;
  border-radius: 9px;
  background-color: #f4f4fe;
  display:flex;
  width: 300px;
  margin-bottom: 20px;
  /* margin-right:10px; */
}

.visual-name {
  color:hsl(234, 85%, 45%);
  display: flex;
  font-family: 'HankenGrotesk-Medium';
}

.visual-number {
display: flex;
font-family: 'HankenGrotesk-Medium';
}

.verbal {
  padding: 5%;
  text-align: center;
  border-radius: 9px;
  background-color: #f1fcf9;
  display:flex;
  width: 300px;
  margin-bottom: 20px;

  /* margin-right:10px; */
}

.verbal-name {
  color:hsl(166, 100%, 37%);
  display: flex;
  font-family: 'HankenGrotesk-Medium';
}

.verbal-number {
display: flex;
font-family: 'HankenGrotesk-Medium';
}

.memory {
    padding: 5%;
    text-align: center;
  border-radius: 9px;
  background-color: rgba(249, 255, 225, 0.509);
  display:flex;
  width: 300px;
  margin-bottom: 20px;
  /* margin-right:10px; */
}

.memory-name {
  color:hsl(39, 100%, 56%);
  display: flex;
  font-family: 'HankenGrotesk-Medium';
}

.memory-number {
display: flex;
font-family: 'HankenGrotesk-Medium';
}

.reaction {
    padding: 5%;
    text-align: center;
  border-radius: 9px;
  background-color: rgba(255, 170, 170, 0.151);
  display:flex;
  width: 300px;
  margin-bottom: 20px;
  /* margin-right:10px; */
}

.reaction-name {
  color:hsl(0, 100%, 67%);
  display: flex;
  font-family: 'HankenGrotesk-Medium';
}

.reaction-number {
display: flex;
font-family: 'HankenGrotesk-Medium';
}

header {
  background-image: linear-gradient(hsl(252, 100%, 67%),hsl(241, 81%, 54%));
  overflow: hidden;
  border-radius: 50px;
}

.result-title {
  text-align: center;
  font-family: 'HankenGrotesk-Bold';
  color: hsl(241, 100%, 89%);
}

.praise {
  text-align: center;
  font-family: 'HankenGrotesk-Bold';
  color: white;
  font-size: 25px;
}

.description {
  text-align: center;
  font-family: 'HankenGrotesk';
  color: hsl(241, 100%, 89%);
}

@font-face {
  font-family: 'HankenGrotesk';
  src: url('assets/fonts/HankenGrotesk-VariableFont_wght.ttf');
}

@font-face {
  font-family: 'HankenGrotesk-Bold';
  src: url('assets/fonts/static/HankenGrotesk-Bold.ttf');
}

@font-face {
  font-family: 'HankenGrotesk-ExtraBold';
  src: url('assets/fonts/static/HankenGrotesk-ExtraBold.ttf');
}

@font-face {
  font-family: 'HankenGrotesk-Medium';
  src: url('assets/fonts/static/HankenGrotesk-Medium.ttf');
}

.summary {
  font-family: 'HankenGrotesk';
  color: hsl(224, 30%, 27%);
}