
/* Utility classes */
.score-bold {
  font-weight: bold;
  color: hsl(234, 85%, 45%);
}
.score-normal {
  font-weight: bold;
  color: hsl(241, 100%, 89%);
}

.circle {
  padding: 5%;
  text-align: center;
  border-radius: 500%;
  width: 150px;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'HankenGrotesk-Bold';
  color: hsl(241, 100%, 89%);
}

.of-100 {
  display: block;
  font-size: 18px;
  color: hsl(241, 100%, 89%);
  margin-top: 0.2em;
  letter-spacing: 1px;
}

#gradient-circle {
  background-image: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
}

.num-design {
  color: white;
  font-family: 'HankenGrotesk-ExtraBold';
  font-size: 50px;
}

.round-circle {

  /* border: 2px solid;
  padding: 20px; 
  width: 400px; */
  /* resize: both; */
  /* overflow: auto; */
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.element {
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.button {
  background-color: hsl(224, 30%, 27%);
  color: #e7ecef;
  border-radius: 30px;
  width: 25em;
  height: 4em;
  line-height: 0em;
}

.continue {
  font-family: 'HankenGrotesk-Medium';
  font-size: 20px;
}

.button:hover {
  background-color: rgb(67, 73, 113);
  color: #e7ecef;
  border-radius: 30px;
  cursor: pointer;
}


/* Category styles grouped together */
.reaction, .memory, .verbal, .visual {
  padding: 5%;
  text-align: center;
  border-radius: 9px;
  display: flex;
  width: 300px;
  margin-bottom: 20px;
}
.reaction {
  background-color: rgba(255, 170, 170, 0.151);
}
.memory {
  background-color: rgba(249, 255, 225, 0.509);
}
.verbal {
  background-color: #f1fcf9;
}
.visual {
  background-color: #f4f4fe;
}

.reaction:hover, .memory:hover, .verbal:hover, .visual:hover {
  transform: scale(1.1);
}

.reaction-name {
  color: hsl(0, 100%, 67%);
  display: flex;
  font-family: 'HankenGrotesk-Medium';
}
.memory-name {
  color: hsl(39, 100%, 56%);
  display: flex;
  font-family: 'HankenGrotesk-Medium';
}
.verbal-name {
  color: hsl(166, 100%, 37%);
  display: flex;
  font-family: 'HankenGrotesk-Medium';
}
.visual-name {
  color: hsl(234, 85%, 45%);
  display: flex;
  font-family: 'HankenGrotesk-Medium';
}

.reaction-number, .memory-number, .verbal-number, .visual-number {
  display: flex;
  font-family: 'HankenGrotesk-Medium';
  font-weight: bold;
}

header {
  background-image: linear-gradient(hsl(252, 100%, 67%),hsl(241, 81%, 54%));
  overflow: hidden;
  border-radius: 50px;
}

.result-title {
  text-align: center;
  font-family: 'HankenGrotesk-Bold';
  color: hsl(241, 100%, 89%);
}

.praise {
  text-align: center;
  font-family: 'HankenGrotesk-Bold';
  color: white;
  font-size: 25px;
}

.description {
  text-align: center;
  font-family: 'HankenGrotesk';
  color: hsl(241, 100%, 89%);
}

@font-face {
  font-family: 'HankenGrotesk';
  src: url('assets/fonts/HankenGrotesk-VariableFont_wght.ttf');
}

@font-face {
  font-family: 'HankenGrotesk-Bold';
  src: url('assets/fonts/static/HankenGrotesk-Bold.ttf');
}

@font-face {
  font-family: 'HankenGrotesk-ExtraBold';
  src: url('assets/fonts/static/HankenGrotesk-ExtraBold.ttf');
}

@font-face {
  font-family: 'HankenGrotesk-Medium';
  src: url('assets/fonts/static/HankenGrotesk-Medium.ttf');
}

.summary {
  font-family: 'HankenGrotesk';
  color: hsl(224, 30%, 27%);
}